.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 7px;
}

.footer, .footer a {
    font-weight: 400;
    color: #e9e9e9;
}

.github {
    color: #e9e9e9;
}

.github:visited {
    color: #e9e9e9;
}

.react {
    color: #00c8ff;
    font-weight: 600;
}

.react:visited {
    color: #00c8ff;
}

@keyframes fade-in-slide {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    50% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer {
    animation: 1.3s ease 0s 1 normal forwards running fade-in-slide;
}